* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 24px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


#main {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

.flowplayer {
  float: left;
  width: 75%;
}

.playlist {
  float: right;
  width: 25%;
  background: #eee;
  padding: 10px 20px;
}


.fp-cuepoint {
  height: 8px;
  position: absolute;
}
.fp-cuepoint.start {
  background: rgba(255,0,255,0.7);
}


.button {
  background: #666;
  color: white;
  display: inline-block;
  padding: 10px;
  width: 25%;
  float: right;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}